2025-10-21 - Spotify (Java)/
2025-10-21 - Spotify (Python)/
2025-10-23 - Arvores Genericas (FULL)/
2025-10-23 - Arvores Genericas/ArvoreGenerica.java
2025-11-04 - Arvores Binárias (FULL)/
2025-11-04 - Arvores BST (FULL)/
